In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
pd_ads=pd.read_csv('D:\\sale\\t_ads.csv')
pd_comment=pd.read_csv('D:\\sale\\t_comment.csv')
pd_order=pd.read_csv('D:\\sale\\t_order.csv')
pd_product=pd.read_csv('D:\\sale\\t_product.csv')
pd_sale=pd.read_csv('D:\\sale\\t_sales_sum.csv')

E:\python-ana\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sale_1036=pd_sale[pd_sale['shop_id']==1036]
comment_1036=pd_comment[pd_comment['shop_id']==1036]
order_1036=pd_order[pd_order['shop_id']==1036]
product_1036=pd_product[pd_product['shop_id']==1036]
ads_1036=pd_ads[pd_ads['shop_id']==1036]

sale_1036['dt']=pd.to_datetime(sale_1036['dt'])
comment_1036['create_dt']=pd.to_datetime(comment_1036['create_dt'])
order_1036['ord_dt']=pd.to_datetime(order_1036['ord_dt'])
product_1036['on_dt']=pd.to_datetime(product_1036['on_dt'])
ads_1036['create_dt']=pd.to_datetime(ads_1036['create_dt'])

sale_1036=sale_1036.sort_values(['dt'],ascending=True)
comment_1036=comment_1036.sort_values(['create_dt'],ascending=True)
order_1036=order_1036.sort_values(['ord_dt'],ascending=True)
product_1036=product_1036.sort_values(['on_dt'],ascending=True)
ads_1036=ads_1036.sort_values(['create_dt'],ascending=True)

sale_1036.to_csv('D:\\sale\\sale_1036.csv')
comment_1036.to_csv('D:\\sale\\comment_1036.csv')
order_1036.to_csv('D:\\sale\\order_1036.csv')
product_1036.to_csv('D:\\sale\\product_1036.csv')
ads_1036.to_csv('D:\\sale\\ads_1036.csv')

E:\python-ana\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
E:\python-ana\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\python-ana\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
E:\python-ana\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
E:\python-ana\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [4]:
order_1036.drop('pid',axis=1,inplace=True)
order_1036=order_1036.groupby(['ord_dt']).sum()

comment_1036.drop('shop_id',axis=1,inplace=True)
order_1036.drop('shop_id',axis=1,inplace=True)
ads_1036.drop('shop_id',axis=1,inplace=True)


#order_1036.set_index("ord_dt", inplace=True) order_1036已将ord_dt作为索引
sale_1036.set_index("dt", inplace=True)
comment_1036.set_index("create_dt", inplace=True)
product_1036.set_index("on_dt", inplace=True)
ads_1036.set_index("create_dt", inplace=True)

ads_1036

               charge   consume
create_dt
2016-08-19  143472.98      0.00
2016-08-20       0.00   2563.01
2016-08-21       0.00   7138.29
2016-08-22       0.00   9110.21
2016-08-23       0.00  13637.82
2016-08-24       0.00  15265.27
2016-08-25       0.00  11760.37
2016-08-26       0.00   8048.08
2016-08-27       0.00   1125.64
2016-08-28       0.00    291.54
2016-08-29       0.00     13.98
2016-08-30       0.00    333.23
2016-08-31       0.00     95.95
2016-09-01  138690.55    809.95
2016-09-02       0.00  28766.97
2016-09-03       0.00   4181.41
2016-09-04       0.00   3098.46
2016-09-05       0.00   3055.87
2016-09-06       0.00   3210.53
2016-09-07       0.00   1913.18
2016-09-08       0.00    547.40
2016-09-09       0.00   1201.55
2016-09-10       0.00   2565.96
2016-09-11       0.00    483.08
2016-09-12       0.00   1085.23
2016-09-13       0.00   1553.26
2016-09-14       0.00   1319.79
2016-09-15       0.00    650.63
2016-09-16       0.00    310.86
2016-09-17       0.00    568.59
...               ...       ...
2017-04-01       0.00  27667.58
2017-04-02   31637.63  10878.28
2017-04-03       0.00  12196.48
2017-04-04       0.00   9460.98
2017-04-05   31085.81  14485.37
2017-04-06       0.00  15977.50
2017-04-07   36861.52  20293.50
2017-04-08       0.00  16194.62
2017-04-09   30350.05  14969.86
2017-04-10   30166.11  19673.74
2017-04-11       0.00  22890.19
2017-04-12   35757.88  25754.02
2017-04-13       0.00  15144.16
2017-04-14   64746.78  11045.80
2017-04-15       0.00  17651.97
2017-04-16   34874.97  19634.61
2017-04-17   34654.24  25592.16
2017-04-18       0.00  19608.17
2017-04-19   34212.79  19412.34
2017-04-20       0.00  19134.70
2017-04-21   33771.33  18462.79
2017-04-22       0.00  18170.45
2017-04-23   66659.75  16733.26
2017-04-24   33109.15  24161.40
2017-04-25       0.00  20567.87
2017-04-26   32667.69  15912.98
2017-04-27       0.00  15750.30
2017-04-28   32226.24  15154.93
2017-04-29       0.00  13521.26
2017-04-30   31784.78  17153.72

[235 rows x 2 columns]

In [5]:
#date_list=pd.date_range('2016-6-1','2017-4-30')
date=pd.DataFrame(index=pd.date_range('2016-8-1','2017-4-30'))
data=pd.concat([date,comment_1036, order_1036,ads_1036], axis=1, join_axes=[date.index])
data.to_csv('D:\\sale\\data_1036.csv')
data

,bad_num,cmmt_num,dis_num,good_num,mid_num,sale_amt,offer_amt,offer_cnt,rtn_cnt,rtn_amt,ord_cnt,user_cnt,charge,consume
2016-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-03,NaN,NaN,NaN,NaN,NaN,6462.10,2369.94,81.0,2.0,58.12,124.0,124.0,NaN,NaN
2016-08-04,NaN,NaN,NaN,NaN,NaN,5605.59,2290.11,74.0,0.0,0.00,107.0,107.0,NaN,NaN
2016-08-05,0.0,144.0,0.0,144.0,0.0,5328.07,2242.29,72.0,0.0,0.00,104.0,103.0,NaN,NaN
2016-08-06,0.0,198.0,2.0,196.0,2.0,5957.45,2372.53,77.0,0.0,0.00,118.0,118.0,NaN,NaN
2016-08-07,0.0,240.0,0.0,240.0,0.0,5793.08,2289.76,76.0,0.0,0.00,112.0,112.0,NaN,NaN
2016-08-08,0.0,266.0,0.0,266.0,0.0,5626.25,2320.65,75.0,0.0,0.00,109.0,109.0,NaN,NaN
2016-08-09,0.0,360.0,0.0,360.0,0.0,5372.68,2218.75,72.0,0.0,0.00,104.0,104.0,NaN,NaN
2016-08-10,0.0,304.0,0.0,304.0,0.0,5462.70,2204.41,71.0,0.0,0.00,102.0,102.0,NaN,NaN
2016-08-11,0.0,332.0,0.0,332.0,0.0,6180.57,2284.93,77.0,0.0,0.00,114.0,114.0,NaN,NaN
2016-08-12,0.0,366.0,2.0,364.0,2.0,5066.24,2133.78,68.0,0.0,0.00,96.0,96.0,NaN,NaN
2016-08-13,0.0,334.0,2.0,334.0,0.0,4866.36,2102.11,67.0,0.0,0.00,94.0,94.0,NaN,NaN
2016-08-14,0.0,332.0,0.0,324.0,8.0,6106.11,2176.09,75.0,0.0,0.00,110.0,110.0,NaN,NaN
2016-08-15,0.0,296.0,0.0,296.0,0.0,6013.61,2282.77,75.0,0.0,0.00,114.0,114.0,NaN,NaN
2016-08-16,0.0,360.0,0.0,360.0,0.0,5347.90,2131.20,71.0,0.0,0.00,102.0,102.0,NaN,NaN
2016-08-17,0.0,342.0,0.0,342.0,0.0,5576.69,2233.09,74.0,0.0,0.00,107.0,107.0,NaN,NaN
2016-08-18,0.0,362.0,4.0,362.0,0.0,5951.66,2222.81,76.0,0.0,0.00,112.0,112.0,NaN,NaN
2016-08-19,0.0,322.0,0.0,320.0,2.0,5307.37,2207.36,72.0,0.0,0.00,103.0,103.0,143472.98,0.00
2016-08-20,0.0,270.0,0.0,270.0,0.0,5242.75,2026.47,67.0,0.0,0.00,94.0,94.0,0.00,2563.01
2016-08-21,0.0,404.0,2.0,404.0,0.0,5920.02,2136.11,73.0,0.0,0.00,105.0,105.0,0.00,7138.29
2016-08-22,0.0,396.0,116.0,396.0,0.0,5299.32,1747.43,61.0,0.0,0.00,93.0,93.0,0.00,9110.21
2016-08-23,0.0,6.0,0.0,6.0,0.0,1416.51,234.34,13.0,0.0,0.00,28.0,28.0,0.00,13637.82
2016-08-24,0.0,290.0,0.0,288.0,2.0,4696.71,1720.78,58.0,2.0,34.58,84.0,83.0,0.00,15265.27
2016-08-25,0.0,254.0,2.0,254.0,0.0,5579.98,1872.58,67.0,0.0,0.00,81.0,81.0,0.00,11760.37
2016-08-26,0.0,428.0,2.0,428.0,0.0,5111.01,1670.18,61.0,0.0,0.00,61.0,61.0,0.00,8048.08
2016-08-27,0.0,387.0,0.0,387.0,0.0,4712.06,1531.46,56.0,0.0,0.00,56.0,56.0,0.00,1125.64
2016-08-28,0.0,221.0,0.0,221.0,0.0,4176.85,1304.10,48.0,0.0,0.00,78.0,78.0,0.00,291.54
2016-08-29,0.0,108.0,0.0,108.0,0.0,4130.59,1371.80,50.0,0.0,0.00,80.0,80.0,0.00,13.98
2016-08-30,0.0,93.0,2.0,91.0,2.0,4936.72,1427.72,55.0,0.0,0.00,92.0,92.0,0.00,333.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-01,0.0,240.0,6.0,240.0,0.0,3975.02,2213.67,64.0,0.0,0.00,104.0,104.0,0.00,27667.58
2017-04-02,0.0,278.0,1.0,278.0,0.0,4277.12,2311.60,69.0,0.0,0.00,111.0,110.0,31637.63,10878.28
2017-04-03,0.0,281.0,0.0,281.0,0.0,5369.06,2840.58,84.0,0.0,0.00,138.0,137.0,0.00,12196.48
2017-04-04,0.0,21.0,0.0,21.0,0.0,1844.28,789.11,26.0,0.0,0.00,50.0,50.0,0.00,9460.98
2017-04-05,2.0,293.0,6.0,289.0,2.0,5566.24,2901.38,87.0,0.0,0.00,148.0,147.0,31085.81,14485.37
2017-04-06,0.0,289.0,4.0,287.0,2.0,4854.23,2393.03,74.0,0.0,0.00,122.0,122.0,0.00,15977.50
2017-04-07,0.0,251.0,2.0,249.0,2.0,4970.61,2304.39,74.0,0.0,0.00,125.0,125.0,36861.52,20293.50
2017-04-08,0.0,984.0,750.0,984.0,0.0,5043.78,2596.24,78.0,0.0,0.00,129.0,129.0,0.00,16194.62
2017-04-09,0.0,529.0,254.0,529.0,0.0,5571.90,2647.98,83.0,2.0,36.42,139.0,139.0,30350.05,14969.86
2017-04-10,0.0,223.0,0.0,223.0,0.0,4506.83,2165.86,68.0,0.0,0.00,115.0,115.0,30166.11,19673.74
2017-04-11,2.0,547.0,259.0,543.0,2.0,5330.00,2606.36,81.0,0.0,0.00,134.0,134.0,0.00,22890.19
2017-04-12,0.0,299.0,12.0,295.0,4.0,4407.63,2305.00,69.0,2.0,36.42,114.0,114.0,35757.88,25754.02
2017-04-13,0.0,332.0,10.0,332.0,0.0,5280.97,2595.80,80.0,2.0,34.58,133.0,133.0,0.00,15144.16
2017-04-14,0.0,266.0,4.0,266.0,0.0,6250.50,2949.04,93.0,0.0,0.00,160.0,160.0,64746.78,11045.80
2017-04-15,0.0,50.0,18.0,42.0,8.0,2303.49,733.23,28.0,0.0,0.00,54.0,54.0,0.00,17651.97
2017-04-16,0.0,294.0,4.0,292.0,2.0,5631.24,2617.15,84.0,0.0,0.00,139.0,136.0,34874.97,19634.61
2017-04-17,0.0,526.0,262.0,526.0,0.0,4383.41,2304.73,69.0,4.0,71.00,113.0,113.0,34654.24,25592.16
2017-04-18,0.0,324.0,6.0,324.0,0.0,5478.38,2368.87,74.0,0.0,0.00,121.0,121.0,0.00,19608.17
2017-04-19,0.0,284.0,2.0,284.0,0.0,2118.66,732.39,27.0,0.0,0.00,53.0,51.0,34212.79,19412.34
2017-04-20,0.0,580.0,248.0,578.0,2.0,2317.31,796.95,29.0,0.0,0.00,53.0,52.0,0.00,19134.70
2017-04-21,0.0,286.0,8.0,282.0,4.0,1352.71,509.96,18.0,0.0,0.00,33.0,33.0,33771.33,18462.79
2017-04-22,0.0,268.0,2.0,268.0,0.0,1222.17,473.91,16.0,0.0,0.00,31.0,31.0,0.00,18170.45
2017-04-23,0.0,313.0,18.0,313.0,0.0,2254.67,635.04,26.0,0.0,0.00,51.0,50.0,66659.75,16733.26
2017-04-24,0.0,52.0,2.0,48.0,4.0,2038.76,640.70,25.0,0.0,0.00,48.0,48.0,33109.15,24161.40
2017-04-25,0.0,14.0,0.0,14.0,0.0,1826.49,563.84,23.0,0.0,0.00,45.0,43.0,0.00,20567.87
2017-04-26,0.0,76.0,0.0,76.0,0.0,1455.34,460.57,18.0,0.0,0.00,35.0,35.0,32667.69,15912.98
2017-04-27,0.0,44.0,4.0,44.0,0.0,1202.46,387.79,15.0,0.0,0.00,28.0,28.0,0.00,15750.30
2017-04-28,0.0,242.0,2.0,242.0,0.0,784.29,276.05,10.0,0.0,0.00,19.0,19.0,32226.24,15154.93
2017-04-29,0.0,206.0,2.0,206.0,0.0,1058.05,324.84,13.0,0.0,0.00,26.0,26.0,0.00,13521.26
2017-04-30,0.0,94.0,2.0,86.0,8.0,1046.53,344.68,13.0,0.0,0.00,26.0,26.0,31784.78,17153.72