In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
pd_ads=pd.read_csv('D:\\sale\\t_ads.csv')
pd_comment=pd.read_csv('D:\\sale\\t_comment.csv')
pd_order=pd.read_csv('D:\\sale\\t_order.csv')
pd_product=pd.read_csv('D:\\sale\\t_product.csv')
pd_sale=pd.read_csv('D:\\sale\\t_sales_sum.csv')

C:\Users\sjt\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sale_1036=pd_sale[pd_sale['shop_id']==1036]
comment_1036=pd_comment[pd_comment['shop_id']==1036]
order_1036=pd_order[pd_order['shop_id']==1036]
product_1036=pd_product[pd_product['shop_id']==1036]
ads_1036=pd_ads[pd_ads['shop_id']==1036]

sale_1036.to_csv('D:\\sale\\sale_1036.csv')
comment_1036.to_csv('D:\\sale\\comment_1036.csv')
order_1036.to_csv('D:\\sale\\order_1036.csv')
product_1036.to_csv('D:\\sale\\product_1036.csv')
ads_1036.to_csv('D:\\sale\\ads_1036.csv')

In [10]:
sale_1036

               dt  shop_id  sale_amt_3m
274    2016-06-30     1036    435382.02
275    2016-12-31     1036    140046.79
276    2016-07-31     1036    425521.09
277    2016-08-31     1036    546715.20
278    2017-01-31     1036    251676.49
279    2016-11-30     1036    120428.26
280    2016-10-31     1036    372576.44
12236  2016-09-30     1036    543089.88

In [11]:
comment_1036

         create_dt  bad_num  cmmt_num  dis_num  good_num  mid_num  shop_id
4       2016-09-13        2       174        0       172        0     1036
5       2016-11-01        0       162        0       162        0     1036
6       2017-04-15        0        50       18        42        8     1036
7962    2016-09-14        0       144        8       144        0     1036
7963    2016-10-12        0       126       20       126        0     1036
15909   2016-08-25        0       254        2       254        0     1036
15910   2016-09-15        0        11        2        11        0     1036
15911   2016-11-03        0       172        4       172        0     1036
23990   2016-08-11        0       332        0       332        0     1036
23991   2016-09-01        0       158        2       158        0     1036
23992   2016-10-18        0        94        0        94        0     1036
23993   2017-04-03        0       281        0       281        0     1036
32049   2016-10-01        0         4        0         4        0     1036
32050   2017-03-15        0         4        0         4        0     1036
32051   2017-04-05        2       293        6       289        2     1036
40064   2016-11-26        0       198       12       198        0     1036
40065   2016-12-16        4        90        4        86        0     1036
40066   2017-01-15        2        62       26        52        8     1036
40067   2017-03-31        0       272        0       270        2     1036
40068   2017-04-21        0       286        8       282        4     1036
48003   2016-12-17        4        66       10        60        2     1036
48004   2017-02-06        0         2        0         2        0     1036
48005   2017-04-22        0       268        2       268        0     1036
55875   2016-10-09        0        84        8        84        0     1036
55876   2017-04-30        0        94        2        86        8     1036
63853   2016-11-11        2       140       14       138        0     1036
63854   2016-12-01        2       120        0       114        4     1036
71842   2016-10-20        0       140       36       138        2     1036
71843   2016-11-10        0       218        8       212        6     1036
71844   2016-11-29        2       230       16       228        0     1036
...            ...      ...       ...      ...       ...      ...      ...
556731  2017-03-17        0       290        8       290        0     1036
556732  2017-04-07        0       251        2       249        2     1036
564789  2016-08-14        0       332        0       324        8     1036
564790  2016-10-02        0        70       24        70        0     1036
564791  2017-03-16        0       250        0       248        2     1036
564792  2017-04-06        0       289        4       287        2     1036
572760  2017-03-07        0       142        2       142        0     1036
580638  2016-08-31        0       104        4       104        0     1036
588622  2016-08-10        0       304        0       304        0     1036
588623  2016-08-29        0       108        0       108        0     1036
588624  2016-09-19        0       160        0       160        0     1036
588625  2016-10-17        0        68        0        68        0     1036
588626  2017-02-22        0        54       12        52        2     1036
588627  2017-03-12        0        72        0        72        0     1036
596656  2017-01-31        0         8        0         8        0     1036
596657  2017-03-11        0       188        0       188        0     1036
596658  2017-04-01        0       240        6       240        0     1036
604585  2016-09-26        0       249      112       249        0     1036
604586  2016-10-24        0       190        2       190        0     1036
612620  2016-09-25        0        50        4        50        0     1036
612621  2016-10-23        2       134        0       132        0     1036
612622  2016-11-13        2       118        4       116        0     1036
612623  2017-01-02        0        20        4        18        2     1036
620511  2016-08-26        0       428        2       428        0     1036
620512  2016-12-30        0        16        0        16        0     1036
620513  2017-03-28        0       306        0       302        4     1036
628379  2016-09-29        0       138        0       138        0     1036
628380  2016-10-27        2       224        1       220        2     1036
628381  2017-01-06        0        22        0        22        0     1036
628382  2017-04-12        0       299       12       295        4     1036

[264 rows x 7 columns]

In [12]:
order_1036

,ord_dt,sale_amt,offer_amt,offer_cnt,shop_id,rtn_cnt,rtn_amt,ord_cnt,pid,user_cnt
5139,2017-04-05,69.88,27.00,1,1036,0,0.00,1,22244,1
5140,2016-11-11,199.06,27.59,2,1036,0,0.00,2,22244,2
5141,2017-04-15,77.64,23.54,1,1036,0,0.00,1,22244,1
5142,2016-11-18,122.24,3.68,1,1036,0,0.00,1,22244,1
5143,2016-10-13,126.37,1.84,1,1036,0,0.00,1,22244,1
28878,2017-03-18,0.00,0.00,0,1036,0,0.00,15,120601,15
28879,2016-12-13,12.39,3.68,1,1036,1,0.00,24,120601,24
28880,2017-02-15,0.00,0.00,0,1036,0,0.00,9,120601,9
28881,2016-12-28,9.91,4.78,1,1036,0,0.00,10,120601,9
28882,2016-12-04,12.39,3.68,1,1036,0,0.00,33,120601,33
28883,2017-03-27,0.00,0.00,0,1036,0,0.00,30,120601,30
28884,2017-03-29,0.00,0.00,0,1036,0,0.00,45,120601,45
28885,2016-10-04,0.00,0.00,0,1036,0,0.00,10,120601,10
28886,2017-03-19,0.00,0.00,0,1036,0,0.00,43,120601,42
28887,2016-11-25,0.00,0.00,0,1036,0,0.00,61,120601,61
28888,2016-10-23,0.00,0.00,0,1036,1,0.00,41,120601,41
28889,2016-09-25,0.00,0.00,0,1036,0,0.00,1,120601,1
28890,2016-09-05,0.00,0.00,0,1036,0,0.00,28,120601,28
28891,2016-11-12,23.13,8.09,2,1036,0,0.00,105,120601,105
28892,2017-03-30,0.00,0.00,0,1036,0,0.00,36,120601,35
28893,2016-09-03,0.00,0.00,0,1036,0,0.00,30,120601,30
28894,2016-09-22,0.00,0.00,0,1036,0,0.00,20,120601,20
28895,2016-11-09,0.00,0.00,0,1036,3,0.00,96,120601,96
28896,2016-10-03,0.00,0.00,0,1036,1,0.00,22,120601,22
28897,2017-04-25,0.00,0.00,0,1036,0,0.00,22,120601,20
28898,2016-11-13,23.54,7.91,1,1036,1,0.00,58,120601,58
28899,2016-09-29,0.00,0.00,0,1036,0,0.00,26,120601,26
28900,2017-04-27,0.00,0.00,0,1036,0,0.00,13,120601,13
28901,2016-10-15,0.00,0.00,0,1036,1,0.00,18,120601,18
28902,2016-10-05,0.00,0.00,0,1036,0,0.00,21,120601,21
...,...,...,...,...,...,...,...,...,...,...
12002793,2016-10-03,130.50,14.72,1,1036,0,0.00,1,13274621,1
12019959,2016-11-01,240.35,16.55,2,1036,0,0.00,2,13357469,2
12019960,2016-11-13,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019961,2017-04-10,77.64,27.22,1,1036,0,0.00,1,13357469,1
12019962,2016-10-13,128.02,4.78,1,1036,0,0.00,1,13357469,1
12019963,2017-04-01,69.88,30.68,1,1036,0,0.00,1,13357469,1
12019964,2016-12-09,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019965,2017-04-23,77.64,27.22,1,1036,0,0.00,1,13357469,1
12019966,2016-11-27,122.24,7.36,1,1036,0,0.00,1,13357469,1
12019967,2016-11-22,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019968,2016-11-28,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019969,2016-11-11,166.02,49.66,2,1036,0,0.00,2,13357469,2
12019970,2016-11-12,185.84,40.83,2,1036,0,0.00,2,13357469,2
12019971,2017-03-28,69.88,30.68,1,1036,0,0.00,1,13357469,1
12019972,2016-11-02,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019973,2016-11-07,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019974,2016-11-23,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019975,2016-10-01,130.50,3.68,1,1036,0,0.00,1,13357469,1
12019976,2016-12-02,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019977,2016-10-30,118.11,9.20,1,1036,0,0.00,1,13357469,1
12019978,2016-09-29,130.50,3.68,1,1036,0,0.00,1,13357476,1
12019979,2017-03-29,69.88,30.68,1,1036,0,0.00,1,13357476,1
12024970,2016-12-12,122.24,7.36,1,1036,0,0.00,1,13380562,1
12024971,2016-11-01,118.11,9.20,1,1036,0,0.00,1,13380562,1
12024972,2016-12-08,118.11,9.20,1,1036,0,0.00,1,13380562,1
12048350,2016-08-03,130.50,14.72,1,1036,1,58.12,1,13479383,1
12048351,2016-09-15,130.50,14.72,1,1036,0,0.00,1,13479383,1
12048352,2016-12-29,101.11,27.80,1,1036,0,0.00,1,13479383,1
12048353,2016-10-15,130.50,14.72,1,1036,0,0.00,1,13479386,1
12048354,2016-09-04,130.50,14.72,1,1036,0,0.00,1,13479386,1

In [13]:
product_1036

               on_dt off_dt  brand  cate  shop_id       pid
265329    2016-07-24    NaN   2926   225     1036   2787378
265330    2016-07-24    NaN   2926   225     1036   2787389
482088    2016-09-24    NaN   2926   225     1036   4970788
482104    2016-09-24    NaN   2926   225     1036   4970931
482105    2016-09-24    NaN   2926   225     1036   4970935
482106    2016-09-24    NaN   2926   225     1036   4970942
482107    2016-09-24    NaN   2926   225     1036   4970960
482108    2016-09-24    NaN   2926   225     1036   4970968
482109    2016-09-24    NaN   2926   225     1036   4970975
482110    2016-09-24    NaN   2926   225     1036   4970979
482111    2016-09-24    NaN   2926   225     1036   4970986
482112    2016-09-24    NaN   2926   225     1036   4970993
482113    2016-09-24    NaN   2926   225     1036   4970997
482114    2016-09-24    NaN   2926   225     1036   4971008
482115    2016-09-24    NaN   2926   225     1036   4971019
491527    2016-09-27    NaN   2926   217     1036   5071409
491528    2016-09-27    NaN   2926   217     1036   5071420
491529    2016-09-27    NaN   2926   217     1036   5071424
491530    2016-09-27    NaN   2926   217     1036   5071435
491674    2016-09-27    NaN   2926   225     1036   5072781
491675    2016-09-27    NaN   2926   225     1036   5072785
491690    2016-09-27    NaN   2926   225     1036   5072904
491691    2016-09-27    NaN   2926   225     1036   5072908
491692    2016-09-27    NaN   2926   225     1036   5072912
499725    2016-09-29    NaN   2926   217     1036   5155857
499726    2016-09-29    NaN   2926   217     1036   5155861
499727    2016-09-29    NaN   2926   217     1036   5155868
499728    2016-09-29    NaN   2926   217     1036   5155875
499729    2016-09-29    NaN   2926   217     1036   5155879
499739    2016-09-29    NaN   2926   217     1036   5155959
...              ...    ...    ...   ...      ...       ...
10597825  2016-11-07    NaN   2926   217     1036   6490553
10597826  2016-11-07    NaN   2926   217     1036   6490561
10597827  2016-11-07    NaN   2926   217     1036   6490564
11143007  2017-04-07    NaN   2926   217     1036  11330109
11143008  2017-04-07    NaN   2926   217     1036  11330120
11143009  2017-04-07    NaN   2926   217     1036  11330123
11143010  2017-04-07    NaN   2926   217     1036  11330131
11143016  2017-04-07    NaN   2926   217     1036  11330173
11143017  2017-04-07    NaN   2926   217     1036  11330177
11143018  2017-04-07    NaN   2926   217     1036  11330180
11178532  2017-04-11    NaN   2926   217     1036  11623770
11178536  2017-04-11    NaN   2926   217     1036  11623809
11178537  2017-04-11    NaN   2926   217     1036  11623824
11178538  2017-04-11    NaN   2926   217     1036  11623827
11178539  2017-04-11    NaN   2926   217     1036  11623831
11178540  2017-04-11    NaN   2926   217     1036  11623835
11178541  2017-04-11    NaN   2926   217     1036  11623838
11178542  2017-04-11    NaN   2926   217     1036  11623842
11178543  2017-04-11    NaN   2926   217     1036  11623849
11178544  2017-04-11    NaN   2926   217     1036  11623856
11178545  2017-04-11    NaN   2926   217     1036  11623867
11195775  2017-04-14    NaN   2926   217     1036  11766867
11195776  2017-04-14    NaN   2926   217     1036  11766871
11195777  2017-04-14    NaN   2926   217     1036  11766875
11195778  2017-04-14    NaN   2926   217     1036  11766886
11195780  2017-04-14    NaN   2926   217     1036  11766902
11195781  2017-04-14    NaN   2926   217     1036  11766909
11195782  2017-04-14    NaN   2926   217     1036  11766913
11195783  2017-04-14    NaN   2926   217     1036  11766938
11195784  2017-04-14    NaN   2926   217     1036  11766953

[481 rows x 6 columns]

In [14]:
ads_1036

         create_dt     charge   consume  shop_id
0       2016-08-22       0.00   9110.21     1036
1       2016-08-31       0.00     95.95     1036
2       2016-09-12       0.00   1085.23     1036
3       2016-09-30   65298.60  25096.86     1036
4       2016-12-18       0.00  18974.81     1036
5       2017-01-12       0.00  10724.19     1036
6       2017-02-11       0.00   8021.55     1036
7       2017-03-10       0.00  10482.14     1036
7596    2016-09-04       0.00   3098.46     1036
7597    2017-01-04       0.00   6469.68     1036
7598    2017-02-12    8130.14   5073.20     1036
15168   2016-09-05       0.00   3055.87     1036
15169   2017-01-14       0.00   7762.26     1036
15170   2017-02-22       0.00  11329.79     1036
15171   2017-04-11       0.00  22890.19     1036
15172   2017-04-20       0.00  19134.70     1036
22641   2016-09-08       0.00    547.40     1036
22642   2016-09-17       0.00    568.59     1036
22643   2017-01-08       0.00   2388.33     1036
22644   2017-01-17       0.00    308.04     1036
22645   2017-02-25       0.00   6973.17     1036
22646   2017-03-06       0.00  10071.23     1036
22647   2017-03-15       0.00  10377.62     1036
22648   2017-04-23   66659.75  16733.26     1036
30176   2016-08-29       0.00     13.98     1036
30177   2016-09-19       0.00    686.68     1036
30178   2016-10-12       0.00  39384.13     1036
30179   2016-10-30       0.00  23708.91     1036
30180   2016-11-02   59228.59  35065.69     1036
30181   2016-11-11       0.00  66446.30     1036
...            ...        ...       ...      ...
188593  2016-10-09       0.00  40879.26     1036
188594  2016-10-27       0.00  24568.49     1036
188595  2016-11-17   56469.49  23546.65     1036
188596  2016-11-26       0.00  24427.33     1036
196089  2016-10-08   63827.08  25635.51     1036
196090  2016-10-26   60516.17  27525.17     1036
196091  2016-11-07       0.00  22539.89     1036
196092  2016-11-16       0.00  20006.59     1036
196093  2016-12-06   52974.64  46299.83     1036
196094  2016-12-24       0.00  13406.23     1036
203614  2016-10-06       0.00   6518.36     1036
203615  2016-10-15   62539.50  41095.96     1036
203616  2016-10-24   60884.05  29880.67     1036
203617  2016-11-14   11404.26  39089.25     1036
203618  2016-12-31   48376.15   2862.90     1036
203619  2017-04-28   32226.24  15154.93     1036
211079  2016-10-14       0.00  37414.53     1036
211080  2016-10-23       0.00  36516.21     1036
211081  2016-11-04   58860.71  28600.42     1036
211082  2016-11-13  127110.07  34606.89     1036
211083  2016-11-22       0.00  32012.24     1036
211084  2016-12-21  100431.09  19656.37     1036
211085  2017-03-19       0.00   9494.05     1036
211086  2017-04-09   30350.05  14969.86     1036
211087  2017-04-18       0.00  19608.17     1036
218573  2016-10-16       0.00  31142.86     1036
218574  2016-10-25       0.00  20986.46     1036
218575  2016-11-06   58492.83  22044.78     1036
218576  2016-11-15  113674.75  35646.13     1036
218577  2016-12-23       0.00  10478.98     1036

[235 rows x 4 columns]